@import 'normalize';
@import 'mixins';

* {
	box-sizing: border-box;
}
body {
	background: linear-gradient(51deg, #31e479, #4ec3ff) no-repeat;
	background-size: cover;
	height: 100vh;
	font-family: 'Open Sans';
}
.pedal-holder {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.pedal {
	position: relative;
}
.pedal-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 280px;
	height: 620px;
	padding: 14px;
	background: #e5e5e5;
	border-radius: 44px;
	box-shadow: 0px 0px 2px 2px #dbdbdb, inset 0px 0px 6px 1px #faf8f9;

	.screen {
		width: 252px;
		height: 292px;
		background: #0d0d0d;
		border-radius: 28px;
		box-shadow: 0px 0px 3px 2px #b0b0b0, 0px 0px 12px 4px #faf8f9;
		text-align: center;
	}
	.led-container {
		position: relative;
		display: inline-block;
		margin-top: 40px;
	}
}
.led-bar {
	@include clearfix;
	position: relative;
	display: inline-block;
	margin: 0 3px;

	.led-column {
		font-size: 0;
		width: 8px;
		height: 32px;
		list-style: none;
		margin: 0 2px;
		padding: 0;
		position: relative;
		float: left;

		.led {
			position: relative;
		}
		.led:nth-child(even) {
			background: #212121;
			height: 4px;
		}
		.led:nth-child(odd) {
			height: 8px;
			background: transparent;
			box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.9), inset 0 0 2px rgba(0, 0, 0, 0.9);

			&:after {
				@include absolute-centered;
				content: '';
				width: 7px;
				height: 7px;
				background: transparent;
				border: 2px solid;
				position: absolute;
			}
		}
	}
}
.notintune, .intune {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;	
}
.notintune {
	background: #AEED25;
}
.intune {
	height: 8px;
	background: #59ff46;
	box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.9), inset 0 0 4px rgba(0, 0, 0, 0.9);

	&:after {
		@include absolute-centered;
		content: '';
		width: 7px;
		height: 7px;
		background: transparent;
		border: 2px solid;
		position: absolute;
	}
}
.name {
	position: relative;
	font-weight: bold;
	font-size: 50px;
	line-height: 54px;
	letter-spacing: -2px;
	text-shadow: 3px 2px 5px #fff, -3px -2px 5px #fff;

	
	&:before {
		content: 'mini';
		position: absolute;
		font-size: 20px;
		right: 0;
		bottom: -36px;
	}
	&:after {
		content: '\00a9';
		position: absolute;
		font-size: 18px;
		right: -8px;
		top: -17px;
	}
	& span {
		color: #008fdf;
	}
	& div {
		position: absolute;
		font-size: 18px;
		right: -8px;
		bottom: -55px;
		max-width: 60px;
		line-height: 17px;
		letter-spacing: -1px;
	}
}
.button {
	position: relative;
	background: #888;
	height: 120px;
	width: 120px;
	border-radius: 50%;
	box-shadow: inset rgba(38, 38, 38, 0.2) 0 -1px 5px 4px, inset rgba(0, 0, 0, 0.25) 0 -1px 0px 7px, inset rgba(255, 255, 255, 0.7) 0 2px 1px 7px, inset rgba(38, 38, 38, 0.2) 0 -1px 5px 4px, inset rgba(0, 0, 0, 0.25) 0 -1px 0px 7px, inset rgba(255, 255, 255, 0.7) 0 2px 1px 7px;
	background-image: -webkit-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%), -webkit-repeating-linear-gradient(left, transparent 0%, transparent 4%, rgba(0, 0, 0, 0.03) 4.5%), -webkit-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.15) 2.2%), linear-gradient(180deg, #c7c7c7 0%, #e6e6e6 47%, #c7c7c7 53%, #b3b3b3 100%), -webkit-radial-gradient(50% 0%, 8% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
	
	&:before {
		content: '';
		position: absolute;
		height: 120px;
		width: 13px;
		background: #8a8683;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 20%;
		box-shadow: 0px 0px 2px 1px #fff, inset 0px 0px 7px 1px rgba(0, 0, 0, 0.5);
	}
	&:after {
		content: '';
		position: absolute;
		height: 13px;
		width: 120px;
		background: #8a8683;
		top: 50%;
		transform: translateY(-50%);
		border-radius: 20%;
		box-shadow: 0px 0px 2px 1px #fff, inset 0px 0px 7px 1px rgba(0, 0, 0, 0.5);
	}
	.top {
		@include absolute-centered;
		position: absolute;
		height: 65px;
		width: 65px;
		border-radius: 50%;
		background: #c7c2be;
		background-image: -webkit-radial-gradient(50% 0%, 8% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(50% 100%, 12% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(0% 50%, 50% 7%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(100% 50%, 50% 5%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, transparent 0%, transparent 3%, rgba(0, 0, 0, 0.1) 3.5%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.2) 2.2%), -webkit-radial-gradient(50% 50%, 200% 50%, #e6e6e6 5%, #d9d9d9 30%, #999999 100%);
		box-shadow: 0px -2px 2px 1px #fff, 0px 0px 2px 1px #000;
		z-index: 10;

		&:active {
			box-shadow: 0px -2px 2px 1px #fff, 0px -2px 2px 1px #000;
		}
	}
	
}
.manufacturer {
	position: relative;
	font-weight: bold;
	font-size: 30px;
	line-height: 34px;
	letter-spacing: -2px;
	text-shadow: 3px 2px 5px #fff, -3px -2px 5px #fff;

	&:after {
		content: '\00a9';
		position: absolute;
		font-size: 18px;
		right: -15px;
		top: -13px;
	}
}
.jack {
	position: relative;
	left: 5px;
	width: 14px;
	height: 80px;
	background-image: repeating-linear-gradient(to top, #b6b1ad, #b6b1ad 50%, #f4f5f7 50%, #f4f5f7 100%);
	border-radius: 10%;
	box-shadow: inset 0px 0px 8px 1px rgba(0, 0, 0, 0.2);

	&:before {
		@include absolute-centered;
		content: '';
		width: 6px;
		height: 90px;
		background: #97928c;
		position: absolute;
		top: 50%;
		border-radius: 20%;
		left: -2px;
	}
	&:after {
		content: '';
		width: 9px;
		height: 60px;
		background-image: repeating-linear-gradient(to top, #aaa59f, #aaa59f 45%, #54514c 50%, #54514c 60%, #f7f6f2 70%, #f7f6f2 79%, #54514c 100%);
		position: absolute;
		border-radius: 10%;
		top: 50%;
		transform: translateY(-50%);
		right: -8px;
	}
}
.input {
	position: absolute;
	top: 60%;
	left: 102%;
}
.output {
	position: absolute;
	top: 36%;
	left: -7%;
	transform: rotate(180deg) scale(1, -1);
}
.tuner {
	width: 4px;
	height: 24px;
	background-image: repeating-linear-gradient(to top, #aaa59f, #aaa59f 45%, #54514c 50%, #54514c 60%, #f7f6f2 70%, #f7f6f2 79%, #54514c 100%);
	position: absolute;
	top: 18%;
	right: -2%;
}
.cancel-animation {
	animation: none !important;
}
.flipped {
	transform: scaleY(-1) translateY(-74%);
}
.e .notintune {
	animation: high-e 2s 1s ease-out infinite;
}
.b .notintune {
	animation: b 2s 1s ease-out infinite;
}
.g .notintune {
	animation: g 2s 1s ease-out infinite;
}
.d .notintune {
	animation: d 2s 1s ease-out infinite;
}
.a .notintune {
	animation: a 2s 1s reverse infinite;
}
.low-e .notintune {
	animation: low-e 2s 1s infinite;
}
.e {
	transform: rotate(-6deg) translateY(14%);
}
.b {
	transform: rotate(-4deg) translateY(7%);
}
.g {
	transform: rotate(-2deg) scaleY(-1) translateY(-76%);
}
.d {
	transform: rotate(2deg) scaleY(-1) translateY(-76%);
}
.a {
	transform: rotate(4deg) translateY(7%);
}
.low-e {
	transform: rotate(6deg) translateY(14%);
}
@keyframes high-e {
	0% {
		height: 8px;
		background: #ff7a60;
	}
	50% {
		height: 10px;
		background: #ff7a60;
	}
	53% {
		height: 22px;
		background: #ff7a60;
	}
	55% {
		height: 30px;
		background: #ff7a60;
	}
	60% {
		height: 32px;
		background: #ff7a60;
	}
	70% {
		height: 32px;
		background: #ff7a60;
	}
	85% {
		height: 32px;
		background: #ff7a60;
	}
	100% {
		height: 8px;
		background: #ff7a60;
	}
}
@keyframes b {
	0% {
		height: 3px;
		background: #ff7a60;
	}
	60% {
		height: 3px;
		background: #ff7a60;
	}
	65% {
		height: 22px;
		background: #ff7a60;
	}
	85% {
		height: 22px;
		background: #ff7a60;
	}
	100% {
		height: 3px;
		background: #ff7a60;
	}
}
@keyframes g {
	0% {
		height: 8px;
		background: #ff7a60;
	}
	40% {
		height: 32px;
		background: #ff7a60;
	}
	80% {
		height: 32px;
		background: #ff7a60;
	}
	90% {
		height: 32px;
		background: #ff7a60;
	}
	100% {
		height: 8px;
		background: #ff7a60;
	}
}
@keyframes d {
	0% {
		height: 8px;
		background: #ff7a60;
	}
	10% {
		height: 10px;
		background: #ff7a60;
	}
	15% {
		height: 32px;
		background: #ff7a60;
	}
	85% {
		height: 32px;
		background: #ff7a60;
	}
	100% {
		height: 8px;
		background: #ff7a60;
	}
}
@keyframes a {
	0% {
		height: 3px;
		background: #ff7a60;
	}
	20% {
		height: 3px;
		background: #ff7a60;
	}
	25% {
		height: 22px;
		background: #ff7a60;
	}
	85% {
		height: 22px;
		background: #ff7a60;
	}
	100% {
		height: 3px;
		background: #ff7a60;
	}
}
@keyframes low-e {
	0% {
		height: 8px;
		background: #ff7a60;
	}
	20% {
		height: 32px;
		background: #ff7a60;
	}
	70% {
		height: 32px;
		background: #ff7a60;
	}
	90% {
		height: 32px;
		background: #ff7a60;
	}
	100% {
		height: 8px;
		background: #ff7a60;
	}
}